body {
  margin: auto;
  font-family: sans-serif;
  max-width: 70%;
  
}

h1 {
  font-size: 2em;
  border-bottom: 2px solid black;
  padding: 1em;
  margin: 2em;
}

.toggle {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.5em;
  margin: 1em;
}
  
